body{
margin: 0%;
padding: 0%;
background-color: hsl(0, 0%, 8%);
margin-top: 10px;
color: white;
font-size: 14px;
}
.first{
background-color: hsl(0, 0%, 12%);
max-width:250px;
padding: 30px;
margin: auto;
text-align: center;
}
h2{
   color:hsl(75, 94%, 57%) ; 
}
img{
    border-radius: 50%;
}
p{
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 10px;
}
@media screen and(max-width:760px){
    .first{
        max-width: 760px;
    }
}